#ignore Java class files
*.class

#ignore other junk files
*~
.idea/
.bsp/
*.iml
*.vscode

#ignore Scala files
target/
project/
*.scalafmt.conf

#ignore scala metals files
.metals/
.bloop/
.ammonite/
metals.sbt

#ignore assembly files
*.s